
@font-face {
    font-family:"KlinicSlab-Medium";
    src:url("KlinicSlabMedium.woff2") format("woff2"),url("KlinicSlabMedium.woff") format("woff"),url("KlinicSlabMedium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        