
@font-face {
    font-family:"KlinicSlab-LightItalic";
    src:url("KlinicSlabLightIt.woff2") format("woff2"),url("KlinicSlabLightIt.woff") format("woff"),url("KlinicSlabLightIt.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        