
@font-face {
    font-family:"KlinicSlab-Bold";
    src:url("KlinicSlabBold.woff2") format("woff2"),url("KlinicSlabBold.woff") format("woff"),url("KlinicSlabBold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        