
@font-face {
    font-family:"KlinicSlab-BoldItalic";
    src:url("KlinicSlabBoldIt.woff2") format("woff2"),url("KlinicSlabBoldIt.woff") format("woff"),url("KlinicSlabBoldIt.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        