
@font-face {
    font-family:"KlinicSlab-MediumItalic";
    src:url("KlinicSlabMediumIt.woff2") format("woff2"),url("KlinicSlabMediumIt.woff") format("woff"),url("KlinicSlabMediumIt.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        