
@font-face {
    font-family:"KlinicSlab-Light";
    src:url("KlinicSlabLight.woff2") format("woff2"),url("KlinicSlabLight.woff") format("woff"),url("KlinicSlabLight.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        