
@font-face {
    font-family:"KlinicSlab-BookItalic";
    src:url("KlinicSlabBookIt.woff2") format("woff2"),url("KlinicSlabBookIt.woff") format("woff"),url("KlinicSlabBookIt.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        